body{
   margin-top: 150px;
}
.batafsil{
    border-radius: 25px;
}
.yozuv{
    position: relative;
    bottom: 300px;
    left: 50px;
    color: white;
}
.yozuv1{
    position: relative;
    bottom: 280px;
    left: 50px;
    color: white;
}
.yozuv2{
    position: relative;
    bottom: 280px;
    left: 50px;
    color: white;
}
.batafsil{
    position: relative;
    bottom: 255px;
    left: 50px;
    color: white;
}
.yozuv3{
    position: relative;
    bottom: 270px;
}
.sc{
    position: relative;

}
.sc1{
    position: relative;
    left: 900px;
}
.yozuv3{
    position: relative;
    bottom: 290px;
    left: 48px;
    color: white;
}
.yozuv4{
    position: relative;
    bottom: 295px;
    left: 50px;
    color: white;
}
.batafsil1{
    position: relative;
    bottom: 290px;
    border-radius: 25px;
    left: 50px;
    color: white;
}
.batafsil2{
    position: relative;
    bottom: 250px;
    border-radius: 25px;
    left: 50px;
    color: white;
}
.yozuv5{
    position: relative;
    bottom: 240px;
    left: 48px;
    color: white;
}
.yozuv0{
    position: relative;
    bottom: 260px;
    left: 48px;
    color: white;
}
.yozuv6{
    position: relative;
    bottom: 235px;
    left: 50px;
    color: white;
}
.batafsil2{
    position: relative;
    bottom: 210px;
    border-radius: 25px;
    left: 50px;
    color: white;
}
.yozuv7{
    position: relative;
    bottom: 240px;
    left: 48px;
    color: white;
}
.batafsil3{
    position: relative;
    bottom: 230px;
    border-radius: 25px;
    left: 50px;
    color: white;
}
.yozuv8{
    position: relative;
    bottom: 200px;
    color: white;
    left: 50px;
}
.batafsil4{
    position: relative;
    bottom: 180px;
    border-radius: 25px;
    left: 50px;
    color: white;
}
.yozuv9{
    position: relative;
    bottom: 170px;
    left: 50px;
    color: white;
}
.yozuv10{
    position: relative;
    bottom: 170px;
    left: 50px;
    color: white;
}
.batafsil5{
    position: relative;
    bottom: 160px;
    border-radius: 25px;
    left: 50px;
}
.yozuv11{
    position: relative;
    bottom: 270px;
    left: 50px;
    color: white;
}
.yozuv12{
    position: relative;
    bottom: 270px;
    left: 50px;
    color: white;
}
.batafsil6{
    position: relative;
    bottom: 250px;
    border-radius: 25px;
    left: 50px;
    color: white;
}
.yozuv13{
    position: relative;
    bottom: 180px;
    left: 50px;
    color: white;
}
.batafsil7{
    position: relative;
    bottom: 170px;
    border-radius: 25px;
    left: 50px;
    color: white;
}
.t1{
    margin-top: 40px;
}

.some{
    font-size: small;
}
.c{
    border-top: 1px solid red;
}