.tex{
    margin-top: -10px;
}
.text img{
    margin-left: 100px;
}
.text1 img{
    margin-left: 140px;
}
.text2 img{
    margin-left: 30px;
}
.text3 img{
    margin-left: 100px;
}
.text4 img{
    margin-left: 50px;
}
.text5 img{
    margin-left: 65px;
}
.tugad{
    width: 100%;
    float: left;
}
