.rew-1{
    background-color: mediumslateblue;
}
.rew-2{
    background-color: mediumslateblue;
    text-align: center;
}
.rew-3{
    background-color: mediumslateblue;
    text-align: center;
}
.rew-4{
    background-color: mediumslateblue;
    text-align: center;
}
.rew-5{
    background-color: mediumslateblue;
    text-align: center;
}
.w-1{
    border: 1px solid white;
    height: 30px;
}