body{
    background-color: grey;
}
.text{
    color: white;
    background-color: #00102c !important;
}
.unit{
    width: 1500px !important;
    margin-left: -100px !important;
}
.yozuv{
    width: 400px;
    margin-left: 800px !important;
    background-color: lightgrey;
    margin-top: 20px;
}
.yozuv p{
    font-size: 30px;
    text-align: center;
}



