.xz{
    background-color: #b00202;
}
.btn{
    width: 210px;
}
.xzxz{
    background-color: #0056b3;
}
.xzxz1{
    background-color: royalblue;
}
.xzxz2{
    background-color: #1c7430;
}
.xzxz3{
    background-color: #5a6268;
}
.xx{
    font-weight: bold;
    position: relative;
    right: 10px;
}
.xxx{
    font-size: 20px;
}
.bg1{
    background-color: lightgray;
}
