body{
    background-color: lightgray;
}
.height1{
    height: 50px;
}
.top1{
    position: relative;
    top: 10px;
}
.text{
    font-size: 13px;
}
.top2{
    position: relative;
    top: -10px;
}
.top3{
    position: relative;
    top: -30px;
}
.top4{
    position: relative;
    top: -23px;
}
.left{
    position: relative;
    left: 10px;
}
.qo\'taq{
    height: 150px;
    width: 500px;
}
.ka{
    position: relative;
    left: 330px;
}
